
OSCtest.xcworkspace/xcuserdata/isaac.xcuserdatad/UserInterfaceState.xcuserstate
OSCtest.xcworkspace/xcuserdata/isaac.xcuserdatad/UserInterfaceState.xcuserstate
OSCtest.xcworkspace/xcuserdata/isaac.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
OSCtest.xcworkspace/xcuserdata/isaac.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
OSCtest.xcworkspace/xcuserdata/isaac.xcuserdatad/UserInterfaceState.xcuserstate
